{% extends 'AtwDdnsUserAdminBundle:Common:base.html.twig' %}

{% block title %}DDNSユーザ追加 - 入力内容確認{% endblock %}
{% block headerTitle %}DDNSユーザ追加 - 入力内容確認{% endblock %}
{% block isActiveDnsUserNew %}active{% endblock %}

{% block contents -%}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        {% include 'AtwDdnsUserAdminBundle:Common:flashNotices.html.twig' %}

                        <div class="card">
                            <div class="content">

                                {{ form_start(form, {'action':path('dnsuser_create'), 'method': 'POST'}) }}
                                    {% include 'AtwDdnsUserAdminBundle:DnsUser:formConfirm.html.twig' %}
                                {{ form_end(form) }}

                                {# 戻るボタン押下時のURL ※jsファイルにはtwig変数を埋め込めないためhiddenで定義 #}
                                <input type="hidden" id="click-back-url" value="{{ path('dnsuser_new') }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/atwddnsuseradmin/js/dnsuser/newconfirm.min.js') }}"></script>
{% endblock %}
