body {
    font-family: Meiryo,"Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
}
.sidebar .logo .simple-text,
.navbar-collapse .logo .simple-text {
    text-transform: none !important;
}
.required:after {
    content: "*";
    color: red;
    margin-left: 5px;
}
.pagination {
    margin: 0;
}
.site-title {
    font-family: 'Lobster', Meiryo,"Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif, cursive !important;
}
.navbar-collapse .nav > li:first-child {
    margin-top: 10px !important;
}
.navbar-collapse .nav > li > a {
    padding: 15px 25px !important;
}
